body {
    background-color: black;
    font-family: helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}
p {
    margin: 0;
}
h2, h4 {
    margin: 0px;
    padding: 10px;
}
h3 {
    margin: 0px;
    padding: 0px;
}
.navbar {
    display: flex;
    position: fixed;
    background-color: black;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    align-items: center;
    z-index: 1;
}
.logodiv {
    display: flex;

    justify-content: flex-start;
    flex-grow: 1;
    padding-left: 10px;
}
.logo {
    height: 50px;
}
.navdiv {
    display: flex;
    justify-content: flex-end;
    color: white;
}
.navitem {
    padding-right: 20px;
    color: seashell ;
    text-decoration: underline;
}
.content {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-top: 69px;
    flex-direction: column;
    align-items: center;
}
.missiondiv {
    display: flex;
    background-image: url(../media/img-mission-background.jpg);
    width: 100%;
    height: 700px;
    align-items: center;
}
.missiontext {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
}
.teamonthdiv {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 700px;
    padding-top: 70px;
}
.teatiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tile {
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.tileimg {
    width: 300px;
    height: 200px;
    padding: 10px;
}
.locationdiv {
    display: flex;
    flex-direction: column;
    background-image: url(../media/img-locations-background.jpg);
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.locationtiles {
    display: flex;
    flex-wrap: wrap;
}
.loctile {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 280px;
    margin: 5px 20px;
    background-color: black;
    opacity: 1;
    justify-content: space-around;
}
.company {
    width: 100%;
    height: 200px;
    align-items: center;
}
.footer {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}